# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 환경파일
.env
*.env

#가상환경
venv/

# Git 저장소 데이터
.git/
drawenglish-api.git/
.gitignore

# 테스트
tests/
*.log

# 에디터 관련
.vscode/
.idea/
*.swp

# 시스템 파일
.DS_Store
Thumbs.db

# 기타
bfg-1.15.0.jar
